<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-h-screen bg-gray-100">
    <div class="container mx-auto">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "flash"+name) do %>
          <%= msg %>  
        <% end %>
      <% end %>
  
      <% if admin_signed_in? %>
        <%= link_to "Salir", destroy_admin_session_path %>
      <% else %>
        <!-- <%= link_to "Entrar", new_admin_session_path %> -->
        <a class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white" href="<%= new_admin_session_path %>">Entrar </a>
      <% end %>
  
      <%= yield %>
    </div>
  </body>
</html>
